<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/']" (click)="cerrarMenu()">
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/carrito']" (click)="obtenerProductosEnCarrito()">
        <ion-label>Carrito</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi Tienda En Línea</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <ion-content>
    <ion-item>
      <ion-select label="Selecionar categoria" placeholder="Ninguna" (ionChange)="loadCategorias()" [(ngModel)]="selectedCategory" ok-text="Aceptar" cancel-text="Cancelar">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  <ion-card>
      <ion-list> 
        <ion-item *ngFor="let producto of productos">
         <ion-card-header>
           <ion-card-title> {{ producto.title }}</ion-card-title>
           <ion-card-subtitle>${{ producto.price }}</ion-card-subtitle>
         </ion-card-header>
          <ion-button (click)="verDetalle(producto.id)">
            Ver Producto
          </ion-button> 
          <ion-button color="danger" (click)="agregarAlCarrito(producto)">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            Agregar al carrito
          </ion-button>
        </ion-item>
      </ion-list>
  </ion-card>
  </ion-content>
</div>
